.row
  .panel.form.medium-8.medium-offset-2.large-8.large-offset-2.columns
    = form_for @secretory, html: {"data-abide" => ""} do |f|
      %h2 Pace Secretory Details
      %h4 All Fields Required
      %hr
      .medium-12.large-12.columns
        
        %h3 Event Head
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Name"
          .small-9.medium-9.large-9.columns
            = f.text_field :name, required: "required", pattern: "^[a-zA-Z\s]{6,}$", placeholder: "Enter Name"
            %small.error ERROR: Invalid name.
      
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Email"
          .small-9.medium-9.large-9.columns
            = f.text_field :email, type: "email", required: "required", placeholder: "Enter email"
            %small.error ERROR: Email must be valid eg: aitpace@gmail.com
      
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Mobile No."
          .small-9.medium-9.large-9.columns
            = f.text_field :mob_no, maxlength: "10", required: "required", pattern: "^[7-9][0-9]{9}$", placeholder: "Eg. 8888888888" 
            %small.error ERROR: Invalid Mobile No.
      
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Designation"
          .small-9.medium-9.large-9.columns
            = f.text_field :designation, required: "required", placeholder: "example: Sports Secretory"
            %small.error ERROR: Invalid Entry
      
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Image url"
          .small-9.medium-9.large-9.columns
            = f.text_field :img_src, required: "required", placeholder: "example: https://abc.com/abc.jpg"
            %small.error ERROR: Invalid url
      
      .medium-1.medium-offset-5.large-1.large-offset-5.large-centered
        = f.submit "Submit", class: "button success"
