.row
  .panel.form.medium-10.medium-offset-1.large-10.large-offset-1.columns
    = form_for :registration, url: registrations_path, html: {"data-abide" => ""} do |f|
      %h2 Your Details
      %h4 All Fields Required
      %hr
      .medium-6.large-6.columns
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label :name
          .small-9.medium-9.large-9.columns
            = f.text_field :name, required: "required", pattern: "^[a-zA-Z\s]{6,}$", placeholder: "Enter your full Name"
            %small.error ERROR: Invalid Name .
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Mobile No."
          .small-9.medium-9.large-9.columns
            = f.text_field :mob_no, required: "required", pattern: "^[7-9][0-9]{9}$", placeholder: "Eg. 8888888888" 
            %small.error ERROR: Invalid mobile number.
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label :email
          .small-9.medium-9.large-9.columns
            = f.text_field :email, type: "email", required: "required", placeholder: "Eg. example@gmail.com" 
            %small.error ERROR: Invalid email eg: aitpace@gmail.com
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label :branch
          .small-9.medium-9.large-9.columns
            = f.text_field :branch, required: "required", pattern: "^[a-zA-Z\s]{2,}$", placeholder: "IT/Comp" 
            %small.error ERROR: Invalid Branch 
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label :year
          .small-9.medium-9.large-9.columns
            = f.select(:year,options_for_select(["First Year","Second Year","Third Year","Fourth Year","Higher"]))
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label :college
          .small-9.medium-9.large-9.columns
            = f.text_field :college, required: "required", pattern: "^[a-zA-Z\s]{4,}$", placeholder: "Name of College" 
            %small.error ERROR: Invalid college name.
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label :event
          .small-9.medium-9.large-9.columns
            = f.select(:event,options_for_select(@event_names))
      .medium-6.large-6.columns
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label :members
          .small-9.medium-9.large-9.columns
            = f.text_area :members, style: "height: 115px", required: "required",pattern: "^[a-zA-Z\s,\.\r]{6,}$", placeholder: "Name 1, Name 2 etc."
            %small.error ERROR: Must be a string of minimum length 6 .
        %h2 Staff Details
        %hr
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Name"
          .small-9.medium-9.large-9.columns
            = f.text_field :staff_name, required: "required", pattern: "^[a-zA-Z\s]{6,}$", placeholder: "Name of Staff" 
            %small.error ERROR: Must be a string of minimum length 6 .
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Mobile No."
          .small-9.medium-9.large-9.columns
            = f.text_field :staff_contact, required: "required", pattern: "^[7-9][0-9]{9}$", placeholder: "Staff Mobile no." 
            %small.error ERROR: Invalid Mobile number.
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Email"
          .small-9.medium-9.large-9.columns
            = f.text_field :staff_email, type: "email", required: "required", placeholder: "Staff Email" 
            %small.error ERROR: Invalid email eg: aitpace@gmail.com
        .row
          .small-4.small-offset-4.medium-4.medium-offset-4.large-4.large-offset-4
            = f.submit "Submit", class: "button primary success"
