.row
  .panel.form.medium-10.medium-offset-1.large-10.large-offset-1.columns
    = form_for @team do |f|
      %h2 Your Details
      %h4 All Fields Required
      %hr
      .medium-6.columns
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label :name
          .medium-9.large-9.columns
            = f.text_field :name, placeholder: "Enter your Name"
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label "Mobile No."
          .medium-9.large-9.columns
            = f.text_field :mob_no, placeholder: "Eg. 8888888888" 
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label :email
          .medium-9.large-9.columns
            = f.text_field :email, placeholder: "Eg. example@gmail.com" 
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label :branch
          .medium-9.large-9.columns
            = f.text_field :branch, placeholder: "Eg. B.E, T.E" 
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label :year
          .medium-9.large-9.columns
            = f.text_field :year, placeholder: "Enter your Year" 
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label :college
          .medium-9.large-9.columns
            = f.text_field :college, placeholder: "Name of College" 
      .medium-6.large-6.columns
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label :event
          .medium-9.large-9.columns
            = f.text_field :event, placeholder: "Enter Event" 
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label :members
          .medium-9.large-9.columns
            = f.text_area :members, placeholder: "Name 1, Name 2 etc." 
        %h2 Staff Details
        %hr
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label "Mobile No."
          .medium-9.large-9.columns
            = f.text_field :staff_contact, placeholder: "Staff Mobile no." 
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label "Email"
          .medium-9.large-9.columns
            = f.text_field :staff_email, placeholder: "Staff Email" 
        .row.collapse
          .medium-3.large-3.columns
            %span.prefix
              = f.label "Name"
          .medium-9.large-9.columns
            = f.text_field :staff_name, placeholder: "Name of Staff" 
        .row
          .medium-4.medium-offset-4.large-4.large-offset-4
            = f.submit "Submit", class: "button primary success"
