%style
  body{visibility: hidden}
.panel.print.medium-10.medium-offset-1.large-8.large-offset-2.columns{style:"visibility: visible;position:relative;marg    in: -30% 1%"}
  %h3
    Registrations Done
    %a.button{onclick: "window.print(); return false;"} Print
  %table.large-12.columns
    %th Name
    %th Mobile No.
    %th College
    %th event
    %th email
    %th members
    %th Staff mobile
    %th Registered On
    - if @teams.any?
      - @teams.each do |team|
        %tr
          %td= team.name
          %td= team.mob_no
          %td= team.college
          %td= team.event
          %td= team.email
          %td= team.members
          %td= team.staff_contact
          %td= team.created_at.to_date
