.row
  .panel.form.medium-8.medium-offset-2.large-8.large-offset-2.columns
    = form_for :event, url: event_path(@event.id), method: :patch do |f|
      %h2= @event.name
      %h4 All Fields Required
      %hr
      .medium-12.large-12.columns
        
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label :fees
          .small-9.medium-9.large-9.columns
            = f.text_field :fees, placeholder: "Enter fees for boys and girls"
        %h4 use Html br tags in rules
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label :rules
          .small-9.medium-9.large-9.columns
            = f.text_area :rules, style: "height: 200px", placeholder: "Enter rules for the event"


        %h3 Event Head
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Name"
          .small-9.medium-9.large-9.columns
            = f.text_field :event_head_name, required: "required", placeholder: "Enter Name"
      
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Email"
          .small-9.medium-9.large-9.columns
            = f.text_field :event_head_email, required: "required", placeholder: "Enter email"
      
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Mobile No."
          .small-9.medium-9.large-9.columns
            = f.text_field :event_head_mobile, placeholder: "Enter  Mobile no"
      
      .large-4.large-offset-2.columns
        = f.submit "Update", class: "button"
