.row
  .panel.form.medium-8.medium-offset-2.large-8.large-offset-2.columns
    = form_for @update, html: {"data-abide" => ""} do |f|
      %h2 Update Details
      %h4 All Fields Required
      %hr
      .medium-12.large-12.columns
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Title"
          .small-9.medium-9.large-9.columns
            = f.text_field :heading, required: "required", pattern: "^[a-zA-Z\s]{6,}$", placeholder: "Enter Title"
            %small.error ERROR: must be more than 6 characters
      
        .row.collapse
          .small-3.medium-3.large-3.columns
            %span.prefix
              = f.label "Description"
          .small-9.medium-9.large-9.columns
            = f.text_area :description, required: "required", placeholder: "Describe Update"
            %small.error ERROR: Invalid description
      .row
        .medium-1.medium-offset-5.large-1.large-offset-5.large-centered
          = f.submit "Submit", class: "button success"
