%html{lang: "en"}
  %head
    %link{rel: "icon", type: "image/png", href: "/assets/favicon.png"}
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{name: "aitpace 2014", content: "PACE is an event that provides an excellent opportunity for students of various colleges in Pune to get acquainted with each other, exhibit their competitive spirits and in the true spirit of sportsmanship take victory and defeat in their stride."}

    %title= content_for?(:title) ? yield(:title) : "AIT PACE 2014"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body{"style" => "background-size: cover"}
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .contain-to-grid.sticky.centered
      %nav.top-bar{"data-topbar" => ""}
        %ul.title-area
          %li.name.medium-offset-1.large-offset-1
            %h2.hide-for-small-only{style: "word-spacing: 50px"}
              %br
              Pace 2014
          %li.toggle-topbar.menu-icon
            %a 
              %span Menu
        
        %section.top-bar-section.hide-for-small-only
          %ul.right
            %li= link_to "HOME", root_path
            %li.has-dropdown
              = link_to "EVENTS", root_path
              %ul.dropdown
                - if @events.any?
                  - @events.each do |event|
                    %li= link_to event.name.upcase, event_path(event)
            %li.has-dropdown
              = link_to "ATHLETICS", root_path
              %ul.dropdown
                - if @athletics.any?
                  - @athletics.each do |event|
                    %li= link_to event.name.upcase, athletic_path(event)
            %li.active= link_to "REGISTER", new_registration_path
            %li= link_to "CONTACT US", home_contact_path
        
        %section.top-bar-section.show-for-small-only
          %ul.right
            %li= link_to "HOME", root_path, "data-no-turbolink" => true
            %li.has-dropdown
              = link_to "EVENTS", root_path, "data-no-turbolink" => true
              %ul.dropdown
                - if @events.any?
                  - @events.each do |event|
                    %li= link_to event.name.upcase, event_path(event), "data-no-turbolink" => true
            %li.has-dropdown
              = link_to "ATHLETICS", root_path, "data-no-turbolink" => true
              %ul.dropdown
                - if @athletics.any?
                  - @athletics.each do |event|
                    %li= link_to event.name.upcase, athletic_path(event), "data-no-turbolink" => true
            %li.active= link_to "REGISTER", new_registration_path, "data-no-turbolink" => true
            %li= link_to "CONTACT US", home_contact_path, "data-no-turbolink" => true
    
    = yield
    .footer
      .medium-12.columns
        .row
          .form.small-6.small-offset-3.columns
            %h1 Powered By
            .small-5.columns
              %a{href: "http://rahulcomputers.net/"}
                %img{src: "/assets/rc.png"}
                %span
                  www.rahulcomputers.net
            .small-5.columns
              %a{href: "http://www.sakaaltimes.com/"}
                %img{style: "padding: 13% 0", src: "/assets/st.png"}
                www.sakaaltimes.com
        %hr
        .medium-3.columns
          %h3 Contact Us
          %a.show-for-small-only{href:"https://www.facebook.com/pace2014"}
            Pace 2014
            %sup.label.radius.tiny
              @facebook
          .fb-like-box.hide-for-small-only{height: "70px", "data-colorscheme" => "dark", "data-header" => "false", "data-href" => "http://www.facebook.com/pace2014", "data-show-border" => "false", "data-show-faces" => "false", "data-stream" => "false"}
        
        .medium-6.columns
          %h3 Events
          %hr
          - if @events.any?
            - @events.each do |event|
              .small-4.medium-3.columns
                = link_to event.name, event_path(event)
          - if @athletics.any?
            - @athletics.each do |event|
              .small-4.medium-3.columns
                = link_to event.name, athletic_path(event)
        
        .medium-3.columns
          %h3 About
          %p
            Pace is an intercollegiate sports fest organized by 
            %a.label.radius{href: "http://www.aitpune.com", style: "margin: auto"}Army Institute of Technology
        .row
          .medium-6.medium-centered.columns
            %hr
            .small-4.columns
              = link_to "HOME", root_path
            .small-4.columns
              = link_to "REGISTER", new_registration_path
            .small-4.columns
              = link_to "CONTACT US", home_contact_path
        %hr
        .row
          .medium-6.medium-centered.columns
            Copyright &copy 2014 AIT pune. All Rights Reserved.
    
    = javascript_include_tag "application"
